/* line 2, ../scss/mypage.scss */
.user-name-area {
  padding: 20px 0px;
  line-height: 50px;
  text-align: center;
  background-color: #fffdf0;
}

/* line 10, ../scss/mypage.scss */
.sectionBox .heading-box {
  background-color: #434a67;
  color: #fff;
}
/* line 13, ../scss/mypage.scss */
.sectionBox .heading-box h2 {
  line-height: 40px;
  padding-left: 10px;
}
/* line 19, ../scss/mypage.scss */
.sectionBox.stock-area .stock-receipe {
  border-bottom: 2px solid #adb2c9;
  padding: 5px;
  position: relative;
}
/* line 23, ../scss/mypage.scss */
.sectionBox.stock-area .stock-receipe:active {
  background-color: #b3b3b3;
}
/* line 26, ../scss/mypage.scss */
.sectionBox.stock-area .stock-receipe .fa-angle-right {
  color: #6f79a1;
  float: right;
  line-height: 100px;
}
/* line 31, ../scss/mypage.scss */
.sectionBox.stock-area .stock-receipe .ttl,
.sectionBox.stock-area .stock-receipe .thumb {
  float: left;
}
/* line 35, ../scss/mypage.scss */
.sectionBox.stock-area .stock-receipe .thumb {
  margin-right: 10px;
}
/* line 38, ../scss/mypage.scss */
.sectionBox.stock-area .stock-receipe .ttl {
  float: left;
  position: absolute;
  top: 50%;
  width: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 48, ../scss/mypage.scss */
.sectionBox.history-area .history-thumb {
  float: left;
  width: 33.33333%;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}
/* line 54, ../scss/mypage.scss */
.sectionBox.history-area .history-thumb img {
  width: 100%;
  height: 100px;
}
/* line 58, ../scss/mypage.scss */
.sectionBox.history-area .history-thumb .fa-thumbs-o-up {
  position: absolute;
  right: 5px;
  bottom: 5px;
  display: block;
  width: 30px;
  height: 30px;
  background-color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 30px;
  color: gray;
  font-size: 1.3em;
  z-index: 10;
  border: 1px solid #fff;
}
/* line 73, ../scss/mypage.scss */
.sectionBox.history-area .history-thumb .fa-thumbs-o-up.like {
  background-color: #F83929;
  color: #fff;
}
/* line 78, ../scss/mypage.scss */
.sectionBox.history-area .history-thumb .date {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  text-align: center;
  z-index: 3;
  color: #fff;
  opacity: 0;
  font-size: 20px;
  line-height: 100px;
}
/* line 91, ../scss/mypage.scss */
.sectionBox.history-area .history-thumb .date:active {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
/* line 97, ../scss/mypage.scss */
.sectionBox .btn i {
  float: right;
  line-height: 50px;
  margin-right: 10px;
}

/*# sourceMappingURL=mypage.css.map */
